/* @font-face{
    font-family: 'font';
    src: url(./font_1078604_w4kpxh0rafi.ttf);
}
.font{
    font-family: 'font';
    height: 200px;
    width: 200px;
}
.ali:before{
    content: "\e636";
} */
.bg{
    /* background-image: url(./wechat.jpg); */
    background-color: red;
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: cover;
}